<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <h1 class="text-center">Register</h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-15" th:action="@{/users/register}" method="post">
        <div class="form-group text-center">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" >Username</label>
            </div>
            <input type="text" class="form-control-sm text-center" id="username" name="username"/>
        </div>
        <div class="form-group text-center">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="firstName">First Name</label>
            </div>
            <input type="text" class="form-control-sm text-center" id="firstName" name="firstName"/>
        </div>
        <div class="form-group text-center">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="lastName">Last Name</label>
            </div>
            <input type="text" class="form-control-sm text-center" id="lastName" name="lastName"/>
        </div>
        <div class="form-group text-center">
            <div class="label-holder  textCol d-flex justify-content-center">
                <label for="email">Email</label>
            </div>
            <input type="email" class="form-control-sm text-center" id="email" name="email"/>
        </div>
        <div class="form-group text-center">
            <div class="label-holder  textCol d-flex justify-content-center">
                <label for="password">Password</label>
            </div>
            <input type="password" class="form-control-sm text-center" id="password" name="password"/>
        </div>
        <div class="form-group text-center">
            <div class="label-holder  textCol d-flex justify-content-center">
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <input type="password" class="form-control-sm text-center" id="confirmPassword" name="confirmPassword"/>
        </div>
        <div class="button-holder text-center">
            <button class="btn btn-info text-white mb-3 text-center" type="submit">Register</button>
        </div>
    </form>
</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>