<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>

<main>
    <div>
        <div class="text-center">
            <h1 th:text="'Name: ' + ${cause.name}"></h1>
        </div>
        <div class="text-center">
            <h1 th:text="'Requirements: ' + ${cause.requirements}"></h1>
        </div>

    </div>
</main>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>