<header>
    <nav class="navbar navbar-expand-sm bg-transparent navbar-nav">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">
            <img src="img/logo.jpg" style="width:100px;height:100px;"/>
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <th:block>
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
            </li>
            </th:block>
            <th:block>
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            </th:block>
            <th:block>
            <li class="nav-item">
                <a class="nav-link" href="/causes/create">Cause create</a>
            </li>
            </th:block>
            <th:block>
                <li class="nav-item">
                    <a class="nav-link" href="/pin/register">Person In Need register</a>
                </li>
            </th:block>
            <th:block>
                <li class="nav-item">
                    <a class="nav-link" href="/charityEvents/create">Create Charity Event</a>
                </li>
            </th:block>
            <th:block>
                <li class="nav-item">
                    <a class="nav-link" href="/fundraisings/create">Create Fundraising Event</a>
                </li>
            </th:block>
        </ul>
    </nav>
</header>