<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<body>
<main>
    <div class="container">
        <h2 class="text-center">Create charity event</h2>
        <form th:action="@{/charityEvents/create}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" placeholder="Enter needs" name="description">
            </div>
            <div class="form-group">
                <label for="startDate">Start date:</label>
                <input type="datetime-local" class="form-control" id="startDate" name="startDate" required>
            </div>
            <div class="form-group">
                <label for="endDate">End date:</label>
                <input type="datetime-local" class="form-control" id="endDate" name="endDate" required>
            </div>
            <div class="form-group">
                <label for="cause" class="mb-1">Causes</label>
                <select class="form-control" name="cause"  id="cause">
                    <option value="">Select responsible person</option>
                    <option th:each="cause : ${allCauses}"
                            th:value="${cause.id}"
                            th:text="${cause.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="personInNeed" class="mb-1">Person in need</label>
                <select class="form-control" name="personInNeed"  id="personInNeed">
                    <option value="">Select responsible person</option>
                    <option th:each="pin : ${allPin}"
                            th:value="${pin.id}"
                            th:text="${pin.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="responsiblePerson" class="mb-1">Responsible Person</label>
                <select class="form-control" name="responsiblePerson"  id="responsiblePerson" required>
                    <option value="">Select responsible person</option>
                    <option th:each="user : ${allUsers}"
                            th:value="${user.id}"
                            th:text="${user.username}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>