body {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}