<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>

<main>
    <div class="text-center">
        <h2>Welcome! Let's help!</h2>
        <h2>If you're new here <a class="nav-link" href="/users/register">Register</a></h2>
        <h2>If you've been here <a class="nav-link" href="/users/login">Login</a></h2>
    </div>
</main>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>