<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<body>
<main>
    <div class="container">
        <h2 class="text-center">Create charity event</h2>
        <form th:action="@{/fundraisings/create}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
            </div>
            <div class="form-group">
                <label for="requiredSum">Required sum:</label>
                <input type="number" class="form-control" id="requiredSum" placeholder="Enter required sum" name="requiredSum">
            </div>
            <div class="form-group">
                <label for="startDate" class="mb-1">Fundraising Start Date:</label>
                <input type="datetime-local" class="form-control mt-1" id="startDate" name="startDate">
            </div>
            <div class="form-group">
                <label for="endDate" class="mb-1">Fundraising End Date:</label>
                <input type="datetime-local" class="form-control mt-1" id="endDate" name="endDate">
            </div>
            <div class="form-group">
                <label for="cause" class="mb-1">Causes</label>
                <select class="form-control" name="cause"  id="cause">
                    <option value="">Select responsible person</option>
                    <option th:each="cause : ${allCauses}"
                            th:value="${cause.id}"
                            th:text="${cause.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="personInNeed" class="mb-1">Person in need</label>
                <select class="form-control" name="personInNeed"  id="personInNeed">
                    <option value="">Select responsible person</option>
                    <option th:each="pin : ${allPin}"
                            th:value="${pin.id}"
                            th:text="${pin.name}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
<th:block th:include="~{fragments/footer}" />
</body>
</html>