<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>

<main>
    <div>
        <div class="text-center">
            <h1 th:text="'Name: ' + ${fundraising.name}"></h1>
        </div>
        <div class="text-center">
            <h1 th:text="'Start date: ' + ${fundraising.startDate}"></h1>
        </div>
        <div class="text-center">
            <h1 th:text="'End date: ' + ${fundraising.endDate}"></h1>
        </div>
        <div class="text-center">
            <h1 th:text="'Current sum: ' + ${fundraising.currentSum}"></h1>
        </div>
        <div class="text-center">
            <a th:href="@{/fundraisings/add_contribution/{id}(id=${fundraising.id})}"
               class="btn btn-info glow-button font-weight-bold text-white">Add contribution</a>
        </div>

    </div>
</main>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>